
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <h5 style="max-width: 700px; text-align: right;">
                <small><b>Estudio:</b></small> <small id="tituloEstudio"></small><br>
                <small><b>Mineral:</b></small> <small id="tituloMineral"></small>
            </h5>
          </li>
    </ul>

